h1 {
    padding-left: 50px;
}

.wrapper {
    height: 70px;
    width: 300px;  
}
.input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: solid black 1px;
    position: relative;

}

.input_inner{
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 5px;
}
.arrows {
    height: 30px;
    position: absolute;
    right: 0;
    top: 30%;
    transition: 0.2s;
}

.is-opened .arrows {
    transform: rotate(180deg);
}

.img_size_cars {
    width: 60px;
}

span {
    margin-left:5px;
    font-weight: bold;
    color: rgb(8, 8, 37);
}

.list {
    height: 0px;
    overflow: scroll;
    transition: 0.2s;
}
.is-opened .list {
    
    height: 200px;
    display: block;
    width: 300px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    opacity: 1;
}

.car_field {
    display: flex;
    align-items: center;
    padding: 5px;
}
.car_field:hover {
    background-color: rgb(81, 193, 245);
}